*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
span{
    color: #4bcaff;
}
.debug{
    border: solid black 2px;
}
header{
    background-image: url(img/section-hero.png);
    background-position: center;
    height: 800px;
    width: 100%;
    margin: 0;
}
li{
    list-style: none;
    padding: 20px;
    font-style: bold;
    padding: 2px;
}
ul{
    display: flex;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    padding-right: 86px;
    
}
a{
    color: white;
    text-decoration: none;
    padding: 10px 18px 10px 18px;
}    
ul a:hover{
    color: #4bcaff;
    border: solid #4bcaff 2px;
}
body{
    margin: 0;
}
h1{
    margin: 0;
    color: white;
    align-items: center;
    padding-left: 85px;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background-color: #424d54;
    opacity: 0.9;
    width: 100%;
}
.looking{
    color: white;
    background: #48535a;
    font-size: 40px;
    opacity: 0.9;
    font-weight: lighter;

}
.textenav{
    text-align: center;
    margin-top: 261px;
}
.services{
    display: flex;
    align-items: center;
    width: 1170px;
}
.services2{
    background: #4bcaff;
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    height: 405px;
}
#services{
    padding-bottom: 28px;
}
.nav{
    color: #69747b;
}
.menu2{
    display: flex;
    align-items: center;
    padding: 0;
    align-content: stretch;
}
.portfolio{
    margin: 0 auto;
}
.folio{
    height: 846px;
    width: 1170px;
}
.port{
    display: flex;
    justify-content: center;
}
.images{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}
.fond{
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}
#visit{
    color: #353f46;
    border: solid #353f46 2px;
}
.default{
    height: 474px;
    width: 100%;
    background-color: #515f67;
    display: flex;
    justify-content: center;
}
.justdef{
    height: 100%;
    width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.just{
    height: 71%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color: white;
    width: 537px;
}
h2{
    font-weight: lighter;
}   
h2:after{
    content: "____";
    display: block;
    margin-top: -25px;
}
.tw{
    width: 1170px;
    color: white;
}
.parenttwitter{
    height: 305px;
    width: 100%;
    background-color: #4bcaff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
#tw{
    height: 30px;
    width: 30px;
    background-color: #4bcaff;
}
.twitter{
    width: 1170px;
    display: flex;
}

.joe{
    height: 505px;
    width: 1170px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.whois{
    background-image: url(img/section-whois.png);
    display: flex;
    justify-content: center;
    color: white;
}
.who{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.test{
    height: 360px;
    width: 100%;
}
.contact{
    height: 813px;
    width: 100%;
}
h4{
    padding-bottom: 40px;
    font-size: 35px;
    font-weight: lighter;
    
}
h4:after{
    content: "____";
    display: block;
    margin-top: -35px;
}
.font{
    font-size: 13px;
}
.serv{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fa-twitter{
    border: solid white 2px;
    padding: 15px;
}
.fa-google-plus-g{
    border: solid white 2px;
    padding: 15px;
}
.fa-dribbble{
    border: solid white 2px;
    padding: 15px;
}
.fa-coffee{
    border: solid white 2px;
    padding: 15px;
}
.who{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-row-gap: 40px;
    grid-column-gap: 55px;
}
.icon{
    display: flex;
}